@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu:wght@400;700&display=swap");
#paths {
  animation: signohtml 1.5s linear infinite alternate;
}

#rueda, #ruedainterior {
  animation: rueda 5s ease infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes signohtml {
  0% {
    transform: translate(100px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rueda {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.navbar {
  background-color: #000000;
  height: 3.5rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.navbar div {
  background-color: #000000;
}

#img-logo {
  height: 3rem;
  width: 3rem;
}

#navbar-collapse {
  background-color: #000000;
}

.navbar-expand-md {
  padding-left: 1rem;
}
.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}
.navbar-expand-md .navbar-nav .nav-link:hover {
  color: #FFA500;
}

.navbar-toggler {
  margin-right: 1.6rem;
}

.white-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 165, 0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.main-img {
  background-image: url(../img/desarrolloweb2021t.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
}

.grid__bordes {
  border: 1px solid #505050;
}

.cursos {
  padding: 1.2rem 0.8rem;
}
.cursos__bordes {
  border: 1px dotted #505050;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.cursos__TF h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
.cursos__TF p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.cursos__TF h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
.cursos__icons i {
  font-size: 12px;
}
.cursos__icons span {
  font-size: 14px;
}

.aside {
  padding: 1rem 0.8rem;
}

#redonda {
  border: 2px solid #2E1503;
  width: 10rem;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#curso2020 {
  margin-top: 1rem;
}
#curso2020 h3 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.cursostf {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#favicon {
  text-align: center;
  font-size: 15pt;
}
#favicon i {
  margin: 0.3rem;
}

#masCursos {
  text-align: center;
  background-color: #505050;
  color: #FFFFFF;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#masCursos p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

#cursostf p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

#lista {
  list-style: circle;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#lista li a {
  text-decoration: none !important;
  color: #000000;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  flex-wrap: wrap;
  height: 8rem;
}

#footerl p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF !important;
  text-align: center;
}

#footerr {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#footerr__legal {
  margin-right: 1rem;
}
#footerr__legal a {
  color: #FFFFFF;
  text-decoration: none;
}
#footerr__legal a:hover {
  color: #FFA500;
}
#footerr__anuncio {
  margin-right: 1rem;
  color: #FFFFFF;
  text-decoration: none;
}
#footerr__anuncio a {
  color: #FFFFFF;
  text-decoration: none;
}
#footerr__anuncio a:hover {
  color: #FFA500;
}
#footerr__email {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#boton {
  background-color: #FFAF6D;
  border-radius: 5px;
  margin-left: 0.5rem;
}

#boton:hover {
  background-color: #FFFFFF;
  transition: background-color 2s;
}

input:hover {
  background-color: #FFAF6D;
  transition: background-color 2s;
}

input {
  border-radius: 5px;
  transition: background-color 10s ease-out;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
}

@media (max-width: 390px) {
  footer {
    padding: 0.5rem 0rem;
    height: 10rem;
  }

  #footerl p {
    font-family: "Poppins", sans-serif;
    font-weight: 16px;
    font-size: 14px;
  }

  #footerr {
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 16px;
    font-size: 14px;
  }
  #footerr__email {
    flex-direction: column;
  }

  #boton {
    width: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
