footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $black;
    flex-wrap: wrap;
    height: 8rem;
}

#footerl {
    p {
        @include TF-Style ($poppins, $regular, $medium);
        color: $white !important;
        text-align: center;
    }
}

#footerr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include TF-Style ($poppins, $regular, $medium);

    &__legal {
        margin-right: 1rem;

        a {
            color: $white;
            text-decoration: none;
        }

        a:hover {
            color: $orange;
        }
    }

    &__anuncio {
        margin-right: 1rem;
        color: $white;
        text-decoration: none;

        a {
            color: $white;
            text-decoration: none;
        }

        a:hover {
            color: $orange;
        }
    }

    &__email {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:390px) {
    footer {
        padding: 0.5rem 0rem;
        height: 10rem;
    }

    #footerl {
        p {
            @include TF-Style ($poppins, $medium, $small);
        }
    }

    #footerr {
        flex-direction: column;
        @include TF-Style ($poppins, $medium, $small);

        &__email {
            flex-direction: column;
        }
    }

    #boton {
        width: 4rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: .5rem;
    }
}